workflows/ynab-workflow-fixed.json
{
  "name": "YNAB — Transactions Workflow (FIXED)",
  "nodes": [
    {
      "parameters": {},
      "id": "ea819a0f-297f-402a-b58a-2acc30641533",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [352, 272]
    },
    {
      "parameters": {
        "url": "https://api.ynab.com/v1/budgets",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "id": "99c9d9a7-9244-44c1-bca8-6bf7539a2315",
      "name": "Get All Budgets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [576, 272],
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "1D7cmwD7QknnzDE8",
          "name": "Bearer Auth account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "budget_id",
              "stringValue": "={{ $json.data.budgets[0].id }}"
            },
            {
              "name": "budget_name",
              "stringValue": "={{ $json.data.budgets[0].name }}"
            },
            {
              "name": "since_date",
              "stringValue": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc748c40-6403-4d0d-a9fb-2e2b4e744b0c",
      "name": "Set Budget Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [800, 272]
    },
    {
      "parameters": {
        "url": "=https://api.ynab.com/v1/budgets/{{ $json.budget_id }}/transactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since_date",
              "value": "={{ $json.since_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d107ba0f-29a1-4920-9e7a-be09f3a25d33",
      "name": "Get Transactions Since Yesterday",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [976, 288],
      "credentials": {
        "httpBearerAuth": {
          "id": "1D7cmwD7QknnzDE8",
          "name": "Bearer Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.transactions",
        "options": {}
      },
      "id": "87cb706a-6ad8-4975-9cd9-aa65ba52f836",
      "name": "Split Transactions",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [1232, 320]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "transaction_id",
              "stringValue": "={{ $json.id }}"
            },
            {
              "name": "date",
              "stringValue": "={{ $json.date }}"
            },
            {
              "name": "amount",
              "numberValue": "={{ ($json.amount / 1000) }}"
            },
            {
              "name": "payee_name",
              "stringValue": "={{ $json.payee_name || 'Unknown' }}"
            },
            {
              "name": "category_name",
              "stringValue": "={{ $json.category_name || 'Uncategorized' }}"
            },
            {
              "name": "memo",
              "stringValue": "={{ $json.memo || '' }}"
            },
            {
              "name": "cleared",
              "stringValue": "={{ $json.cleared }}"
            },
            {
              "name": "approved",
              "booleanValue": "={{ $json.approved }}"
            }
          ]
        },
        "options": {}
      },
      "id": "da564439-6e71-44aa-a016-a19800cb3bdc",
      "name": "Format Transaction Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1456, 272]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approved_filter",
              "leftValue": "={{ $json.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3c151109-a397-4646-bdb2-853aa484b205",
      "name": "Filter Approved Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1680, 272]
    },
    {
      "parameters": {
        "operation": "summarize",
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "amount"
            },
            {
              "aggregation": "count",
              "field": "transaction_id"
            }
          ]
        },
        "options": {}
      },
      "id": "f4f8ccd4-272a-4012-a228-5242632f1185",
      "name": "Calculate Total",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1904, 272]
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [[{"node": "Get All Budgets", "type": "main", "index": 0}]]
    },
    "Get All Budgets": {
      "main": [[{"node": "Set Budget Variables", "type": "main", "index": 0}]]
    },
    "Set Budget Variables": {
      "main": [[{"node": "Get Transactions Since Yesterday", "type": "main", "index": 0}]]
    },
    "Get Transactions Since Yesterday": {
      "main": [[{"node": "Split Transactions", "type": "main", "index": 0}]]
    },
    "Split Transactions": {
      "main": [[{"node": "Format Transaction Data", "type": "main", "index": 0}]]
    },
    "Format Transaction Data": {
      "main": [[{"node": "Filter Approved Only", "type": "main", "index": 0}]]
    },
    "Filter Approved Only": {
      "main": [[{"node": "Calculate Total", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "id": "jj2kNHAf82NfEjtT",
  "tags": []
}